@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Fake St. 18<br />
    Hidden State 8260<br />
    Denmark
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://facebook.com">Ana, Ilyec, Gintas</a><br />
    <strong>Email:</strong> <a href="mailto:eaagipo@students.eaaa.dk">eaagipo@students.eaaa.dk</a>
</address>