

@{
    ViewBag.Title = "Home";
}


<div class="image1">
    <img src="~/Content/images/muesli.png" alt="muesli">
</div>

<h1 class="headline1">muesli</h1>
<h2 class="headline2">madness</h2>

<!--- morning routine -->
<!--- square styling -->


<a class="square" href="#routine"></a>

<p class="wordone">morning</p>
<p class="wordtwo">routine</p>


<!--- square styling end -->

<div class="image2">
</div>

<div id="routine">
</div>

<p class="text1">
    All of us at least once in our lifetime have heard that 'breakfast is the most important meal of the day'.
    So why don’t we make it more special? Why don’t we make it a ritual that we want to wake up to every morning.
    Full of healthy, tasty and vitamin overfilled meal.
    We kept asking ourselves that question till finally we came up with this- muesli madness space.
    When ordering a plan from us you won’t miss a morning full of hygge feels and your personal morning ritual will be something that brightens up your whole day.
</p>

<!--- morning routine end -->
<!--- healthy decisions -->
<!--- square styling -->

<a class="squaretwo" href="#decisions"></a>

<p class="wordthree">healthy</p>
<p class="wordfour">decisions</p>

<!--- square styling end -->

<div class="image4">
</div>

<div class="image5">
</div>

<div id="decisions">
</div>

<p class="text2">
    Ut wisi enim ad minim veniam,
    quis nostrud exerci tation ullamcorper
    suscipit lobortis nisl ut aliquip ex ea
    commodo consequat. Duis autem
    eum iriure dolor in hendrerit vulputate
    velit esse molestie consequat, vel
    dolore eu feugiat nulla facilisis at
    et vero eros et accumsan et
    iusto odio blandit qui et.
</p>
<!--- healthy decisions end -->
<!--- fast & delicious -->
<!--- square styling -->


<a class="squarethree" href="#delicious"></a>

<p class="wordfive">fast&</p>
<p class="wordsix">delicious</p>

<!--- square styling end -->

<div class="image7">
</div>

<div class="image8">
</div>

<div id="delicious">
</div>

<p class="text3">
    Ut wisi enim ad minim veniam,
    quis nostrud exerci tation ullamcorper
    suscipit lobortis nisl ut aliquip ex ea
    commodo consequat. Duis autem
    eum iriure dolor in hendrerit vulputate
    velit esse molestie consequat, vel
    dolore eu feugiat nulla facilisis at
    et vero eros et accumsan et
    iusto odio blandit qui et.
</p>
<!--- fast & delicious end -->
<!--- ready to order -->

<div class="rectangle"> </div>

<p class="order"> Ready to order? </p>

<a href="#" id="ourp">Our Plans</a>
<a href="#" id="createp">Create a Plan</a>

<!--- ready to order end -->