@{
    ViewBag.Title = "Home Page";
}
<div >
    <h1>Muesli madness</h1>
</div>
<div >
    <div >
        <h2>Welcome to Muesli madness</h2>
        <p>
            Our first application
            Lorem ipsum stuff
        </p>
    </div>
</div>

