@*@model Muesli.Models.LoginModel*@

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Please Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <form>
                                <h3>Registered user</h3>

                                @Html.ValidationSummary()
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken();
                                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                                    <div class="form-group">
                                        <label for="UserName">Username</label>
                                        @*@Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })*@
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="usernameHelp" placeholder="Enter username">
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        @@*Html.PasswordFor(x => x.Password, new { @class = "form-control" })*@
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input">
                                                Remember me
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign In</button>
                                }
                                <div>
                                    <small id="emailHelp" class="form-text text-muted"><a href="#">Forgot your username or password?</small>
                                    <small id="emailHelp" class="form-text text-muted"><a href="#">Don't have an account yet? Create it now.</a></small>

                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6">
                            <h3>Single order lookup</h3>
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Order number</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <!--
                <div class="row">
                    <div class="col-6">
                        <small id="emailHelp" class="form-text text-muted"><a href="#">Forgot your password?</small>
                        <small id="emailHelp" class="form-text text-muted"><a href="#">Don't have an account yet? Create it now.</a></small>
                    </div>
                    <div class="col-6">
                    -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- </div>
                </div> -->
            </div>
        </div>
    </div>
</div>